// Ex:
//
// .opacity-0   { opacity: 0; }
// .opacity-50  { opacity: 0.5; }
// .opacity-100 { opacity: 1; }
//
// prettier-ignore
$opacity-range: (
	0,
	0.05,
	0.1,
	0.15,
	0.2,
	0.25,
	1 - 0.25,
	1 - 0.2,
	1 - 0.15,
	1 - 0.1,
	1 - 0.05,
	1 - 0,
) !default;
