.opacity-50 {
  opacity: 0.5;
}

@media (min-width: 512px) {
  .xs\.opacity-50 {
    opacity: 0.5;
  }
}
@media (min-width: 640px) {
  .sm\.opacity-50 {
    opacity: 0.5;
  }
}
@media (min-width: 768px) {
  .md\.opacity-50 {
    opacity: 0.5;
  }
}
@media (min-width: 1024px) {
  .lg\.opacity-50 {
    opacity: 0.5;
  }
}
@media (min-width: 1280px) {
  .xl\.opacity-50 {
    opacity: 0.5;
  }
}
@media (min-width: 1344px) {
  .\2 xl\.opacity-50 {
    opacity: 0.5;
  }
}
html {
  --opacity-50: 0.5;
}
