@use "duomo" as * with (
	// $separator: ".",
	// $xl: 1344,
	$breakpoint-map: (
		xs: 512,
		sm: 512 + 128,
		md: 512 + 128 + 128,
		lg: 512 + 128 + 128 + 256,
		xl: 512 + 128 + 128 + 256 + 256,
		"2xl": 512 + 128 + 128 + 256 + 256 + 64,
	),
	// $opacity-range: (0, 0.5, 1)
	$opacity-range: (0.5)
);

// .green-500 {
// 	color: color(green);
// }

.v-#{breakpoint(sm)} {
	top: 0;
}

@at-root {
	@include theme;
}
