@use "duomo" with (
	$separator: ".",
	$xl: 1344,
	$opacity-range: (0, 0.5, 1)
);

.green-500 {
	color: duomo.escape(duomo.color(green));
	color: duomo.$green;
}

@at-root {
	@include duomo.theming;
}
